
.btn-group .button-minus,
.btn-group .button-plus {
  padding: 5px;
  cursor: pointer;
  color: #1D72E8;
  border: none;
  border-radius: 10px;
  background-color: #E8F0FE;
  &.disabled{
    color: #CCCCCC !important;
    background-color: #F5F6F7 !important;
    }
}

.btn-group .quantity-field {
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: super;
  font-size: 13px;
  margin: 5px 10px;
}
