.mat-toolbar{
    padding: 10px;
    box-shadow: 5px 10px 18px #9E9E9E;

}
.mat-menu-panel {
   padding: 15px !important;
}
.show-icon{
    visibility: visible;
}
.hide-icon{
    visibility: hidden;
}